* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.container header-menu{
    min-width: 1920px;
    display: inline-block;
    
}
.button-header{
    height: 904px;
    width: 468px;
    background-color: #194DD2;
}
.black-header{
    height: 117px;
    width: 1113px;
    background-color: #000000;
}